body{
	padding:0px;
	//margin:-24px;
}

.header, .footer{
	text-align:center;	
}
.table th, .table td
{
	vertical-align:middle;
	text-align:center;
}

.buttonstrip{
	text-align:center;
}

.content{
	margin:10px;
}

.content>table, .content>form>table, .content>form>div[ng-include]>div>table{
	margin:0 auto 0 auto;
}
	
.editpvdtable tr td:nth-child(1){
	width:50px;
	font-weight:bold;
}

.editpvdtable tr td:nth-child(2){
	width:400px;
	text-align:center;
}

.editpvdtable tr td:nth-child(2)>*{
	width:90%;	
}
.choosetemplatetable th:nth-child(2){
	width:400px;
}

.noitems{
	text-align:center;
}