<div class="content" ng-init="$parent.pagetitle='Select template'">
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Action</th>						
		</tr>
		<tr ng-repeat="pvd in providers">
			<td>{{pvd.name}}</td>
			<td>{{pvd.description}}</td>
			<td>
				<div class="btn-toolbar">
								<div class="btn-group">
									<button class="btn" ng-click="select(pvd)">
									 	<i class="icon-plus"></i>
									</button>									
								</div>
				</div>
			</td>			
		</tr>
	</table>
	<div class="buttonstrip">
		<button class="btn" ng-click="back()">Back</butoon>
	</div>
</div>                   
