<div class="content">		
	<form name="form" novalidate class="css-form">
		<table class="table table-striped editpvdtable">			
			<tr>
				<td>Enabled</td>             
				<td>					
						<input type="checkbox" ng-model="provider.enabled" />
						<helpsign>Enable disable this provider</helpsign>					
				</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>					
					<input name="name"  type="text" ng-model="provider.name"  required/>
					<helpsign>Name for this provider</helpsign>
				</td>
				
			</tr>
			<tr>
				<td>Display text</td>
				<td><input name="displayName"  type="text" ng-model="provider.displayText"  required/></td>
			</tr>
			<tr>
				<td>Short display text</td>
				<td><input name="shortDisplayName"  type="text" ng-model="provider.shortDisplayText"  required/></td>
			</tr>						
		</table>		
		<div ng-include src="editUrl">
		</div>
	</form>		
	<div class="buttonstrip">
        <button class="btn" ng-click="save(provider)">Save</button>
        <button class="btn" ng-click="back()">Back</button>
    </div>	    
</div>
