<div ng-model="types"  ng-init="$parent.pagetitle='All providers';" >
<div class="content">
    	<table ng-show="providers.length" class="table table-striped">
				<thead>
				<tr>
					<th>Enabled</th>
					<th>Name</th>
					<th>Type</th>
					<th></th>                
				</tr>
				</thead>
				<tbody>
					<tr ng-repeat="pvd in providers">
						<td><input type="checkbox" disabled="disabled" ng-model="pvd.enabled"/></td>
						<td>{{pvd.name}}</td>
						<td>{{pvd.type}}</td>                    
						<td>
							<div class="btn-toolbar">
								<div class="btn-group">
									<button class="btn" ng-click="edit(pvd)" tooltip="'Edit'" tooltip-placement="top">
										<i class="icon-pencil"></i>
									</button>
									<button class="btn" ng-click="remove(pvd)" tooltip="'Delete'" tooltip-placement="top">
									 	<i class="icon-trash"></i>
									</button>
								</div>
							</div>
						</td>                    
					</tr>
				</tbody>
		</table>    
		<div ng-hide="providers.length" class="container-fluid noitems">
			No providers to display<br/>
			Add new providers to use this plugin
		</div>        
</div>
<div class="buttonstrip mainbuttonstrip">
			<button class="btn" ng-click="addNewPvd()"><i class="icon-plus"></i>Add from templates</button>
			<button class="btn" ng-click="addNewCustomPvd()"><i class="icon-plus"></i>Add custom</button>
			<button class="btn" ng-click="clearAll()"><i class="icon-exclamation-sign"></i>Clear all data</button>
			<!--<button class="btn" ng-click="populate()">Populate</button>-->
</div>
</div>