<div ng-model="types">
    <h2>All Providers</h2>
    <div>
        <table>
            <thead>
            <tr>
				<th>Enabled</th>
                <th>Name</th>
                <th>Type</th>
                <th>ActionUrl</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pvd in providers">
					<td>{{pvd.enabled}}</td>
                    <td>{{pvd.name}}</td>
                    <td>{{pvd.type}}</td>
                    <td>{{pvd.actionUrl}}</td>
                    <td><button ng-click="edit(pvd)"/>></td>
                </tr>
            </tbody>
        </table>
        <button ng-click="addNewPvd()">Add new provider</button>
		<button ng-click="clearAll()">Clear</button>
		<button ng-click="populate()">Populate</button>
    </div>
</div>